<div class="header">
  <a href="/"><h1 >Eau Calvin's Barber</h1></a>

  <div class="wrapper">
    <div class="top bar"></div>
    <div class="middle bar"></div>
    <div class="bottom bar"></div><br><br>
    <div class="menu">
      <a href="/Stylists" class="links">Stylists</a>  <a href="/Clients" class="links">Clients</a>  <a href="Clients/Create" class="links">Appointment</a> <a href="Stylists/Create" class="links">Hiring</a>
    </div>
  </div>
</div>
