@{
  Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/create.css">

@model HairSalon.Models.Stylist

<h2>Add Stylist</h1>
@using (Html.BeginForm())
{
  @Html.TextBoxFor(model => model.Name, new { placeholder = "Name"})
  <button type="submit">Add</button>
}
<button>@Html.ActionLink("All Stylists", "Index")</button>