@{
  Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/create.css">

@model HairSalon.Models.Stylist

<h2>Add Stylist</h1>
<div class="contents">
  @using (Html.BeginForm())
  {
    @Html.TextBoxFor(model => model.Name, new { placeholder = "Name"})
    <br><br>
    @Html.TextBoxFor(model => model.Hired, new { placeholder = "Hired On"})
    <br><br>
    <button type="submit">Add</button>
    <br><br>
  }
</div>