@{
  Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/index.css">

@model HairSalon.Models.Stylist

<div class="contents">
  <p>Deleting @Model.Name</p>

  <p>Are You Sure?</p>
  @using (Html.BeginForm())
  {
    <button type="submit">Delete</button>
  }
  <button>@Html.ActionLink("Back to List", "Index")</button>  
</div>
