@{
  Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/index.css">

@using HairSalon.Models;

<h1>Stylists</h1>

<div class="contents">
    @if (@Model.Count == 0)
  {
    <h3>No Stylists</h3>
  } 
      @foreach(Stylist stylist in Model)
    {
      <p>@Html.ActionLink($"{stylist.Name}", "Index", "Clients")</p>
    }
</div>