body{
  background-image: url("https://i.pinimg.com/originals/72/fa/ea/72faea3e3465e98ed9734846f9cb7704.jpg");
  overflow: hidden;
  background-size: cover;
  position: center;
}

.contents{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.594);
  margin-left: 30%;
  margin-top: 20px;
  width: 600px;
  height: 100%;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 500px;
  padding-top: 20px;
  border-radius: 4px;
}

h2{
  margin-top: 20px;
  position: absolute;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  margin-left: 30px;
  color: white;
}

input{
  margin-bottom: 20px;
}

button{
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}