@{
  Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/home.css">

<img class="logo" src="https://openclipart.org/image/800px/319681">

<img class="homeImg" src="https://media1.popsugar-assets.com/files/thumbor/tdBUfVW5deWIiRIETUCDyZNmNa8/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2020/11/04/644/n/1922153/tmp_QFvALd_17442867e5f691a7_GettyImages-1046733404.jpg" width="500px">

<img class="homeImg2" src="https://images.fresha.com/locations/location-profile-images/84243/31934/b5d4692e-c253-4777-bba0-618b737b7520.jpg?class=fallback" width="500px">

<p class="quote"><em>Where beauty is the standard<br> - Eau Claire</em></p>