@{
  Layout = "_Layout";
}

<h1>Welcome to Eau Claire's</h1>

<button>@Html.ActionLink("View All Stylists", "Index", "Stylists")</button>
<button>@Html.ActionLink("View All Clients", "Index", "Clients")</button>
